pelican
pelican-sitemap # pelican plugin offering
soupsieve # needed by BeautifulSoup4
BeautifulSoup4 # needed by several plugins
ezt # needed by several plugins and buildsite.py
PyYAML # needed by asfdata.py and buildsite.py
certifi # needed by requests
idna # needed by requests
charset-normalizer # needed by requests
urllib3 # needed by requests
requests # needed by kick_build.py and asfdata.py
